# Построение таблицы истинности

In [1]:
import numpy as np
import pandas as pd

Определение класса бита для упрощения вычислений:

In [2]:
class Bit:
    
    def __init__(self, value: int):
        self.__value = 1 if value else 0
        
    def __int__(self):
        return self.__value
        
    def __str__(self):
        return str(self.__value)
    
    def __invert__(self):
        return Bit(1 - self.__value)
    
    def __and__(self, other):
        if isinstance(other, Bit):
            return Bit(1 if self.__value and other.__value else 0)
        else:
            return Bit(0)
        
    def __or__(self, other):
        if isinstance(other, Bit):
            return Bit(1 if self.__value or other.__value else 0)
        else:
            return Bit(self.__value)
        
        
    def __xor__(self, other):
        if isinstance(other, Bit):
            return Bit(1 if self.__value != other.__value else 0)
        else:
            return Bit(self.__value)

Создать датафрейм для хранения результатов вычисления таблицы истинности

In [3]:
data = np.array(
    [
        [0] * 8 + [1] * 8,
        ([0] * 4 + [1] * 4) * 2,
        [0, 0, 1, 1] * 4,
        [0, 1] * 8
    ],
    dtype=np.int
)

tt = pd.DataFrame(
    data=data.T,
    columns=['x1', 'x2', 'x3', 'x4']
)

Определить функцию для вычисления значения зависимой переменной

$$
y = \overline{x_1 \overline{x_3 x_4}} + \overline{\overline{x_2}x_4(x_2 + \overline{x_3} + x_4)} + \overline{x_3}\,\overline{x_4} + (x_2 + x_1 \overline{x_2 x_3}\,\overline{x_4} + x_3)\overline{x_3}.
$$

In [4]:
def f(x1: Bit, x2: Bit, x3: Bit, x4: Bit) -> Bit:
    return ~(x1 & ~(x3 & x4)) | ~(~x2 & x4 & (x2 | ~x3 | x4)) | \
        (~x3 & ~x4) | (x2 | (x1 & ~(x2 & x3) & ~x4) | x3) & ~x3

Определить значение зависимой переменной

In [5]:
tt['y'] = np.vectorize(
    lambda x1, x2, x3, x4: int(f(Bit(x1), Bit(x2), Bit(x3), Bit(x4)))
)(tt.x1, tt.x2, tt.x3, tt.x4)

Отобразить таблицу истинности

In [6]:
tt

    x1  x2  x3  x4  y
0    0   0   0   0  1
1    0   0   0   1  1
2    0   0   1   0  1
3    0   0   1   1  1
4    0   1   0   0  1
5    0   1   0   1  1
6    0   1   1   0  1
7    0   1   1   1  1
8    1   0   0   0  1
9    1   0   0   1  0
10   1   0   1   0  1
11   1   0   1   1  1
12   1   1   0   0  1
13   1   1   0   1  1
14   1   1   1   0  1
15   1   1   1   1  1